h4>a, a:hover, a:focus{
    font-family: 'Glegoo';
    color: black !important;
    text-decoration: none !important;
}

body{
    font-family: 'Glegoo';
}

.media-body, .media-heading{
    display: inline;
}

table:hover, tr:hover, td:hover{
    background-color: white !important;
       
}

.removebutton, .removebutton:hover{
    color: black;
    text-decoration: none;
    padding-top: 25px;
}
